# All logs
src/log*

# All python compiled files
src/*.pyc

# All pickle files
data/*.pickle

# Play database
data/montetestresults.db

# All old data files
data/Spike*.txt
fig/*

# iPython stuff
src/.idea/*
src/*ipynb*
src/__pycache__/*


